{% extends '_base.html' %}

{% block content %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
    <!-- page start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading clearfix">
                        <h4 class="pull-left"><b>PROVINCE CREATE/UPDATE</b></h4>

                         <div class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </div>

                    </header>
                    <div class="panel-body">
                        {% if userrole.can_edit %}
                        <h3>Province{% if object %}Edit{% else %}Add{% endif %}</h3>
                        <form action="" method="POST" enctype="multipart/form-data" novalidate> {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                        </form>
                        {% endif %}
                    </div>
              	</section>
            </div>
        </div>
    </section>
</section>
{% endblock %}